.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
   display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.header__navbar-item{
margin: 0 8px;
position: relative;
min-width: 26px;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__navbar-item--has-notifi:hover .header__notifi{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar-item--strong{
    font-weight: 600;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
   border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 0.8rem;
    margin: 0 4px;
} 
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* header qr code */
.header__qr{
    position: absolute;
    background-color: var(--white-color);
    width: 186px;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn 0.3s ease-in;
}
.header__qr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -16px;
    left: 0;
}
.header__qr-img{
  width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
    }
.header__qr-app{
  height: 15px;
}
/* header notifi */
.header__notifi{
    position: absolute;
    top: 118%;
    width: 404px;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: calc(100% - 20px) top ;
    animation: headernotifi 0.3s ease-in;
    display: none; 
    will-change: opacity, transform;
}

.header__notifi::before {
    content: "";
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: 0px;
    border-style: solid;
    border-width: 20px 27px;
    
}
.header__notifi::after {
    content: "";
    position: absolute;
   width: 90px;
   right: 0;
    height: 20px;
    top: -16px;
    
}
@keyframes headernotifi{
 from{
    transform: scale(0);
    opacity: 0;
 }
 to{
    transform: scale(1);
    opacity: 1;
 }
}

.header__notifi-header {
height: 40px;
background-color: var(--white-color);
}

.header__notifi-header h3{
color: #999;
margin: 0 0 0 12px;
font-weight: 400;
font-size: 1rem;
line-height: 40px;
user-select: none;
} 

.header__notifi-list {
 padding-left: 0;
}
.header__notifi-item {
display: flex;
}
.header__notifi-item:hover{
background-color: #f7f7f7;
}
.header__notifi-item--viewed{
   background-color: rgba(238, 77, 45, 0.1);
 
}
.header__notifi-link {
 display: flex;
 width: 100%;
 padding: 12px;
 text-decoration: none;
}
.header__notifi-img {
width: 48px;
object-fit: contain;
}
.header__notifi-info {
margin-left: 12px;
}
.header__notifi-name {
display: block;
font-size: 1rem;
color: var(--text-color);
font-weight: 400;
}
.header__notifi-descriotion {
display: block; 
font-size: 0.8rem;
line-height: 1.4rem;
color: #756f6e;
}
.header__notifi-footer{
display: flex;
}
.header__notifi-footer-btn{
text-decoration: none;
color: var(--text-color);
padding: 4px 0 ;
width: 100%;
margin: auto;
font-size: 1rem;
font-weight: 400;
text-align: center;
}
/* auth modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.auth-form__heading{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}
.auth-form__form{
 
}
.auth-form__input{
    width: 100%;
    height: 48px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: center; 
    padding: 0 12px;  
}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__control{
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 12px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon{
    font-size: 1.4rem;
    
}
.auth-form__socials--facebook{
    background-color: #3b5998;
    color: var(--white-color);
}
.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials-title{
    margin: 0 26px;
}
.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);
}