.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
   display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.header__navbar-item{
margin: 0 8px;
position: relative;
min-width: 26px;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}


.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar-item--strong{
    font-weight: 600;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
   border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 0.8rem;
    margin: 0 4px;
} 
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
/* header qr code */
.header__qr{
    position: absolute;
    background-color: var(--white-color);
    width: 186px;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn 0.3s ease-in;
}
.header__qr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: -16px;
    left: 0;
}
.header__qr-img{
  width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
    }
.header__qr-app{
  height: 15px;
}
/* header notifi */
.header__notifi{
    position: absolute;
    top: 118%;
    width: 404px;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;

}
.header__notifi-header {
height: 40px;
background-color: var(--white-color);
}

.header__notifi-header h3{
color: #999;
margin: 0 0 0 12px;
font-weight: 400;
font-size: 1.2rem;
line-height: 40px;
} 

.header__notifi-list {
 padding-left: 0;
}
.header__notifi-item {
display: flex;
}
.header__notifi-item:hover{
background-color: #f7f7f7;
}
.header__notifi-item--viewed{
   background-color: rgba(238, 77, 45, 0.1);
 
}
.header__notifi-link {
 display: flex;
 width: 100%;
 padding: 12px;
 text-decoration: none;
}
.header__notifi-img {
width: 48px;
object-fit: contain;
}
.header__notifi-info {
margin-left: 12px;
}
.header__notifi-name {
display: block;
font-size: 1rem;
color: var(--black-color);
font-weight: 400;
}
.header__notifi-descriotion {
display: block; 
font-size: 0.8rem;
line-height: 1.4rem;
color: #756f6e;
}
.header__notifi-footer{
text-align: center;
}
.header__notifi-footer-btn{
text-decoration: none;
color: var(--text-color);
padding: 4px 16px;
}